.navbar {
    background-color: #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar-left {
    display: flex;
    gap: 50px;
    margin-left: 10%;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
    margin-right: 10%;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .cart-button {
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s;
  }
  
  .cart-button:hover {
    background-color: #007a8a;
  }
  